@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.auth-heading-section{
  background: url("./assets/img/auth__bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}